/*Global sections*/
body{
    background-color: #eeeeee;
    font-family: "Roboto", "sans-serif";
 }
*{
     margin: 0px;
     padding: 0px;
    }
 button,b{
    text-transform: uppercase;
 }
/*App bar*/
h1{
    color: white;
    background-color: blue;
    }
/*Channels list*/
ul{
    list-style-type: none;
    background-color: white; 
    position: absolute;
    top: 98px;
    bottom: 72px;
    overflow-y : scroll;
    width: 100%;
    }
    li{
        padding: 16px;
        height: 16px;
        box-sizing: content-box;
    }
    ul li.highlighted{
        border-left: 4px solid blue;
        color: blue;
    }
   
    /*align icons to the text’s middle*/
    li img{
        vertical-align: middle;
    }
/*Tab bar*/
.bar{
    background-color: white;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
}
.buttonBar{
    text-align: center;
    background-color:white;
    font-size: 13px;
    border: none;
    width: 32%;
    height: 72px;
    padding: 16px;
    
}
#tab-bar img{
display: block;
margin: auto;
margin-bottom: 4px;
}
#selected{
    border-bottom: 4px solid blue;
    color: blue;
}
/*Messages*/
div.message{
    width: 80%;
    margin-bottom: 8px;
    margin-left: 2.5%;
}
.message p{
    background-color: white;
    padding: 16px;
    position: relative;
}
.message h5{
    font-size: medium;
}
.message button{
    background-color:#CDDC39;
    text-transform: uppercase;
    position: absolute;
    right: 8px;
    bottom: 8px;
}
.message em{
    font-style: normal;
    font-size: larger;
}
.message a{
    color: black;
}
#myMessage{
    margin-left: 17.5%;
}
/*new stuff*/
.channel-area{
    height: 100%;
    position: absolute ;
    width: 40%;
    left: 0px;
}
.chat-area{
    height: 100%;
    position: absolute ;
    width: 60%;
    right: 0px;
}
h1{
    padding: 16px;
    height: 65px;
}
#Moocus{
    
}
.channel-meta{
    vertical-align: middle;
    position: absolute;
    right: 5px;
}
    /*Distribute the meta-data’s contents */
h5{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
    /*Let all dates appear in one column*/
h5 span{
    width: 145px;
    display: flex;
    flex-direction: column;
}
#emojis-button{
    display: flex;
    justify-content: flex-start;
}
#emojis{
    background-color: white;
    border: 1px solid black;
    
    font-size: 28px;
    text-align: left;
    overflow: auto;
}

